@font-face {
  font-family: "Source Sans";
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/SourceSans3-Regular.ttf.woff2');
}

* {
  box-sizing: border-box;
  font-family: 'Source Sans', sans-serif;
}

html, body, #root {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}